<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT fastTrack ANY>
<!ATTLIST fastTrack id ID #REQUIRED>
<!ELEMENT ftAccount ANY>
<!ATTLIST ftAccount id ID #REQUIRED>
<!ELEMENT ftBasket ANY>
<!ATTLIST ftBasket id ID #REQUIRED>
<!ELEMENT ftCatalog ANY>
<!ATTLIST ftCatalog id ID #REQUIRED>
<!ELEMENT ftCategory ANY>
<!ATTLIST ftCategory id ID #REQUIRED>
<!ELEMENT ftCheckout ANY>
<!ATTLIST ftCheckout id ID #REQUIRED>
<!ELEMENT ftLogin ANY>
<!ATTLIST ftLogin id ID #REQUIRED>
<!ELEMENT ftProduct ANY>
<!ATTLIST ftProduct id ID #REQUIRED>
<!ELEMENT ftReceipt ANY>
<!ATTLIST ftReceipt id ID #REQUIRED>
<!ELEMENT ftStore ANY>
<!ATTLIST ftStore id ID #REQUIRED>
]>
<root id="-1">
  <ftStore id="1089" key="148c3983-3135-4999-bb1c-a5dc8853273c" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-10-25T12:52:29" updateDate="2016-10-25T12:52:29" nodeName="Store" urlName="store" path="-1,1089" isDoc="" nodeType="1079" creatorName="Simon Dingley" writerName="Simon Dingley" writerID="0" template="1064" nodeTypeAlias="ftStore">
    <brief><![CDATA[<p>Example store which has been developed to help get you up and running quickly with Merchello. 
                                            It's designed to show you how to implement common features, and you can grab the source code from here, just fork/clone/download and open up Merchello.sln</p>]]></brief>
    <featuredProducts><![CDATA[cc11a417-140c-4417-b08a-a9f41e068ce0]]></featuredProducts>
    <storeName><![CDATA[FastTrack Store]]></storeName>
    <ftCatalog id="1090" key="65d77c24-fe11-4347-ad8e-7a44b625559b" parentID="1089" level="2" creatorID="0" sortOrder="0" createDate="2016-10-25T12:52:30" updateDate="2016-10-25T12:52:30" nodeName="Catalog" urlName="catalog" path="-1,1089,1090" isDoc="" nodeType="1073" creatorName="Simon Dingley" writerName="Simon Dingley" writerID="0" template="1058" nodeTypeAlias="ftCatalog">
      <categories><![CDATA[68bf0278-608f-4099-913b-dcc63d452b52]]></categories>
      <ftCategory id="1091" key="a09370d1-efdb-4dd1-94ca-ec68aedcbbfe" parentID="1090" level="3" creatorID="0" sortOrder="0" createDate="2016-10-25T12:52:30" updateDate="2016-10-25T12:52:30" nodeName="Funny T-Shirts" urlName="funny-t-shirts" path="-1,1089,1090,1091" isDoc="" nodeType="1074" creatorName="Simon Dingley" writerName="Simon Dingley" writerID="0" template="1059" nodeTypeAlias="ftCategory">
        <products><![CDATA[c059948d-5a2f-4d6e-8436-258caf7d7c52]]></products>
      </ftCategory>
      <ftCategory id="1092" key="b5ccbf27-42c4-4cb0-911d-43e59a2d2587" parentID="1090" level="3" creatorID="0" sortOrder="1" createDate="2016-10-25T12:52:30" updateDate="2016-10-25T12:52:30" nodeName="Geeky T-Shirts" urlName="geeky-t-shirts" path="-1,1089,1090,1092" isDoc="" nodeType="1074" creatorName="Simon Dingley" writerName="Simon Dingley" writerID="0" template="1059" nodeTypeAlias="ftCategory">
        <products><![CDATA[7a6a647f-4033-4987-b3d1-014ac5677135]]></products>
      </ftCategory>
      <ftCategory id="1093" key="b1478148-691b-4d00-a04a-173030d96bb8" parentID="1090" level="3" creatorID="0" sortOrder="2" createDate="2016-10-25T12:52:30" updateDate="2016-10-25T12:52:30" nodeName="Sad T-Shirts" urlName="sad-t-shirts" path="-1,1089,1090,1093" isDoc="" nodeType="1074" creatorName="Simon Dingley" writerName="Simon Dingley" writerID="0" template="1059" nodeTypeAlias="ftCategory">
        <products><![CDATA[70ae1de0-c691-4c15-acaf-efb505c134e6]]></products>
      </ftCategory>
    </ftCatalog>
    <ftBasket id="1094" key="6064f0f0-052d-4ff8-8177-f4946faa8fa1" parentID="1089" level="2" creatorID="0" sortOrder="1" createDate="2016-10-25T12:52:30" updateDate="2016-10-25T12:52:30" nodeName="Basket" urlName="basket" path="-1,1089,1094" isDoc="" nodeType="1072" creatorName="Simon Dingley" writerName="Simon Dingley" writerID="0" template="1057" nodeTypeAlias="ftBasket" />
    <ftCheckout id="1095" key="b6ce26b8-76a9-4741-bbfe-03a30f9d6990" parentID="1089" level="2" creatorID="0" sortOrder="2" createDate="2016-10-25T12:52:30" updateDate="2016-10-25T12:52:30" nodeName="Checkout" urlName="checkout" path="-1,1089,1095" isDoc="" nodeType="1075" creatorName="Simon Dingley" writerName="Simon Dingley" writerID="0" template="1053" nodeTypeAlias="ftCheckout">
      <checkoutStage><![CDATA[BillingAddress]]></checkoutStage>
      <ftCheckout id="1096" key="c9ed7766-ce87-4f38-a2b2-0401556aee9f" parentID="1095" level="3" creatorID="0" sortOrder="0" createDate="2016-10-25T12:52:30" updateDate="2016-10-25T12:52:30" nodeName="Shipping Address" urlName="shipping-address" path="-1,1089,1095,1096" isDoc="" nodeType="1075" creatorName="Simon Dingley" writerName="Simon Dingley" writerID="0" template="1069" nodeTypeAlias="ftCheckout">
        <checkoutStage><![CDATA[ShippingAddress]]></checkoutStage>
      </ftCheckout>
      <ftCheckout id="1097" key="fbd90471-ae72-49ec-b1df-7a0fae7e2325" parentID="1095" level="3" creatorID="0" sortOrder="1" createDate="2016-10-25T12:52:30" updateDate="2016-10-25T12:52:30" nodeName="Ship Rate Quote" urlName="ship-rate-quote" path="-1,1089,1095,1097" isDoc="" nodeType="1075" creatorName="Simon Dingley" writerName="Simon Dingley" writerID="0" template="1068" nodeTypeAlias="ftCheckout">
        <checkoutStage><![CDATA[ShipRateQuote]]></checkoutStage>
      </ftCheckout>
      <ftCheckout id="1098" key="4fcbd647-229b-4885-8c8a-fd71dc8640b3" parentID="1095" level="3" creatorID="0" sortOrder="2" createDate="2016-10-25T12:52:30" updateDate="2016-10-25T12:52:30" nodeName="Payment Method" urlName="payment-method" path="-1,1089,1095,1098" isDoc="" nodeType="1075" creatorName="Simon Dingley" writerName="Simon Dingley" writerID="0" template="1066" nodeTypeAlias="ftCheckout">
        <checkoutStage><![CDATA[PaymentMethod]]></checkoutStage>
      </ftCheckout>
      <ftCheckout id="1099" key="3609525d-370b-416e-8a84-c8fcfa600848" parentID="1095" level="3" creatorID="0" sortOrder="3" createDate="2016-10-25T12:52:30" updateDate="2016-10-25T12:52:30" nodeName="Payment" urlName="payment" path="-1,1089,1095,1099" isDoc="" nodeType="1075" creatorName="Simon Dingley" writerName="Simon Dingley" writerID="0" template="1065" nodeTypeAlias="ftCheckout">
        <checkoutStage><![CDATA[Payment]]></checkoutStage>
      </ftCheckout>
    </ftCheckout>
    <ftReceipt id="1100" key="7550a7a8-085e-4b3f-99a7-871d0ee53eb3" parentID="1089" level="2" creatorID="0" sortOrder="3" createDate="2016-10-25T12:52:30" updateDate="2016-10-25T12:52:30" nodeName="Receipt" urlName="receipt" path="-1,1089,1100" isDoc="" nodeType="1078" creatorName="Simon Dingley" writerName="Simon Dingley" writerID="0" template="1063" nodeTypeAlias="ftReceipt" />
    <ftLogin id="1101" key="8768d384-d04c-40cc-9997-ddd6c638e8a6" parentID="1089" level="2" creatorID="0" sortOrder="4" createDate="2016-10-25T12:52:30" updateDate="2016-10-25T12:52:30" nodeName="Login" urlName="login" path="-1,1089,1101" isDoc="" nodeType="1076" creatorName="Simon Dingley" writerName="Simon Dingley" writerID="0" template="1061" nodeTypeAlias="ftLogin" />
    <ftAccount id="1102" key="fe063e7e-1092-4c42-ad6f-124c162968d7" parentID="1089" level="2" creatorID="0" sortOrder="5" createDate="2016-10-25T12:52:30" updateDate="2016-10-25T12:52:30" nodeName="Account" urlName="account" path="-1,1089,1102" isDoc="" nodeType="1071" creatorName="Simon Dingley" writerName="Simon Dingley" writerID="0" template="1056" nodeTypeAlias="ftAccount" />
  </ftStore>
</root>